In [1]:
import pandas as pd

In [3]:
import os

In [5]:
df=pd.read_csv('inventory_dataset - inventory_dataset.csv')

In [7]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,NaN,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,NaN,470.14,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,NaN,460.10,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,NaN,NaN,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.71,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
995,P0996,Gadget,Electronics,Supplier D,350.37,122.91,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.34,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.22,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.92,129.0,310.0,68.0,0
999,P1000,Thingamajig,Office Supplies,Supplier D,NaN,247.71,638.0,NaN,168.0,1

In [15]:
null=df.columns[df.isnull().any()]

In [17]:
null

Index(['Purchase_Price', 'Sale_Price', 'Quantity_In_Stock', 'Reorder_Level',
       'Units_On_Order'],
      dtype='object')

In [19]:
median=df['Purchase_Price'].median()

In [25]:
df['Purchase_Price'].fillna(median,inplace=True)

In [29]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,NaN,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.14,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.10,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,NaN,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.71,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
995,P0996,Gadget,Electronics,Supplier D,350.37,122.91,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.34,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.22,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.92,129.0,310.0,68.0,0
999,P1000,Thingamajig,Office Supplies,Supplier D,253.17,247.71,638.0,NaN,168.0,1

In [35]:
mean = df['Sale_Price'].mean()

In [39]:
df['Sale_Price'].fillna(mean,inplace=True)

C:\Users\HDC0422090\AppData\Local\Temp\ipykernel_10920\2207025847.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sale_Price'].fillna(mean,inplace=True)

In [41]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0
999,P1000,Thingamajig,Office Supplies,Supplier D,253.17,247.710000,638.0,NaN,168.0,1

In [43]:
df.dropna(inplace=True)

In [45]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,831.0,433.0,76.0,0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0

In [47]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
Q1 = df['Sale_Price'].quantile(0.25)

In [51]:
Q3 = df['Sale_Price'].quantile(0.75)

In [53]:
IQR=Q3-Q1

In [55]:
lb=Q1 - 1.5 * IQR

In [57]:
lb

-62.349999999999994

In [59]:
up=Q3+1.5 * IQR

In [61]:
up

691.3499999999999

In [63]:
Sale_price=df[(df['Sale_Price'] >=lb) & (df['Sale_Price'] <=up)]

In [69]:
Sale_price

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,831.0,433.0,76.0,0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0

In [71]:
scaler = MinMaxScaler()

In [73]:
scaler

MinMaxScaler()

In [77]:
min_quan=df['Quantity_In_Stock'].min()

In [79]:
max_quan=df['Quantity_In_Stock'].max()

In [89]:
df['Normalize_Quantity']=(df['Quantity_In_Stock']-min_quan /(max_quan-min_quan))

In [91]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued,Normalize_Quantity_In_Stock,Normalize_Quantity
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1,588.0,588.0
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1,348.0,348.0
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1,146.0,146.0
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0,66.0,66.0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1,903.0,903.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,831.0,433.0,76.0,0,831.0,831.0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0,186.0,186.0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0,497.0,497.0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0,441.0,441.0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0,129.0,129.0

In [93]:
df=df.drop('Normalize_Quantity_In_Stock',axis=1)

In [95]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued,Normalize_Quantity
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1,588.0
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1,348.0
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1,146.0
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0,66.0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1,903.0
...,...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,831.0,433.0,76.0,0,831.0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0,186.0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0,497.0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0,441.0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0,129.0

In [97]:
df=df.drop('Normalize_Quantity',axis=1)

In [99]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,588.0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,348.0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,146.0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,66.0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,903.0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,831.0,433.0,76.0,0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,186.0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,497.0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,441.0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,129.0,310.0,68.0,0

In [107]:
df['Quantity_In_Stock']= scaler.fit_transform(df[['Quantity_In_Stock']])

In [109]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,0.589178,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,0.348697,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,0.146293,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,0.066132,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,0.904810,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,0.832665,433.0,76.0,0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,0.186373,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,0.497996,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,0.441884,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,0.129259,310.0,68.0,0

In [111]:
df['Quantity_In_Stock'] = df['Quantity_In_Stock'].astype(int)

In [113]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,0,292.0,161.0,1
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,0,114.0,70.0,1
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,0,199.0,163.0,1
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,0,13.0,145.0,0
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,0,271.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,0,433.0,76.0,0
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,0,82.0,14.0,0
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,0,428.0,35.0,0
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,0,72.0,62.0,0
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,0,310.0,68.0,0

In [115]:
df['Discontinued'] = df['Discontinued'].map({'Yes': 1, 'No': 0})

In [117]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,0,292.0,161.0,NaN
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,0,114.0,70.0,NaN
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,0,199.0,163.0,NaN
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,0,13.0,145.0,NaN
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,0,271.0,37.0,NaN
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,0,433.0,76.0,NaN
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,0,82.0,14.0,NaN
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,0,428.0,35.0,NaN
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,0,72.0,62.0,NaN
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,0,310.0,68.0,NaN

In [119]:
df.to_csv('cleaned_dataset.csv', index=False)

In [121]:
df

,Product_ID,Product_Name,Category,Supplier,Purchase_Price,Sale_Price,Quantity_In_Stock,Reorder_Level,Units_On_Order,Discontinued
0,P0001,Doodad,Clothing,Supplier D,339.75,351.926883,0,292.0,161.0,NaN
1,P0002,Doohickey,Clothing,Supplier C,253.17,470.140000,0,114.0,70.0,NaN
2,P0003,Thingamajig,Clothing,Supplier B,253.17,460.100000,0,199.0,163.0,NaN
3,P0004,Doohickey,Clothing,Supplier A,253.17,351.926883,0,13.0,145.0,NaN
4,P0005,Doohickey,Toys,Supplier E,228.75,66.710000,0,271.0,37.0,NaN
...,...,...,...,...,...,...,...,...,...,...
993,P0994,Gadget,Clothing,Supplier A,253.17,273.470000,0,433.0,76.0,NaN
995,P0996,Gadget,Electronics,Supplier D,350.37,122.910000,0,82.0,14.0,NaN
996,P0997,Widget,Toys,Supplier E,117.17,133.340000,0,428.0,35.0,NaN
997,P0998,Widget,Electronics,Supplier C,301.70,241.220000,0,72.0,62.0,NaN
998,P0999,Doodad,Toys,Supplier B,139.67,44.920000,0,310.0,68.0,NaN

In [125]:
from IPython.display import FileLink

In [127]:
FileLink('cleaned_dataset.csv')

C:\Users\HDC0422090\cleaned_dataset.csv